* {
    background: #264653;
}

#outerContainer {
    width: auto;
    height: 600px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    #container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 500px;
        height: 500px;
        align-content: center;
        margin-bottom: 50px;
    }
}

#clearCanvas {
    background-color: #f4a261;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#clearCanvas:hover,
#clearCanvas:focus {
  background-color: #e76f51;
}